@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Acerca de la Aplicacion</h1>
    <h3 class="display-6">Referencias del Desarrollador</h3>
    <p>Mas informacion de la Pagina WEB <a href="https://www.youtube.com">Construye Paginas WEB modernas en ASP.NET Core</a>.</p>
</div>